#environment variables for database connection

DATABASE_NAME
DATABASE_USER
DATABASE_PASSWORD
DATABASE_HOST

#environment variables for token authentication

SECRET

#environment variables for send emails
USERNAME
PASSWORD
