#environment variables for database connection

DATABASE_NAME
DATABASE_USER
DATABASE_PASSWORD
DATABASE_HOST

#environment variables for token authentication

SECRET

#enviroment variables for creating admin users

SECRET_ADM

#environment variables for sending emails
USERNAME
PASSWORD
SIGNUP_URL
RECOVERY_URL
