#environment variables for database connection

DATABASE_NAME
DATABASE_USER
DATABASE_PASSWORD
DATABASE_HOST

#environment variables for token authentication

SECRET

#CREDENCIAIS EMAIL
USERNAME = 'mate85grupo3@gmail.com'
PASSWORD = 'mate852022'